---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&To=11111&From=5309245645
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM2NTA3YmFkMTU2YzMzNjg0MTA5YzY1NzAyNGIyOTkwMDo0OGQyZmU5OWU3ODQyMmI5ZDI3ODY5MzkxZjg3YTcyNg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.118'
      Twilio-Request-Id:
      - RQe0d61cd6a18e4ea29087b3628602832c
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 11111 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Mon, 27 Feb 2017 21:12:04 GMT
recorded_with: VCR 3.0.3
