---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC6507bad156c33684109c657024b29900/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&To=1111111&From=5039463641
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM2NTA3YmFkMTU2YzMzNjg0MTA5YzY1NzAyNGIyOTkwMDo0OGQyZmU5OWU3ODQyMmI5ZDI3ODY5MzkxZjg3YTcyNg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.103'
      Twilio-Request-Id:
      - RQf0dec8932c184ecfa8096f024f086368
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21212, "message": "The ''From'' number 5039463641 is not a
        valid phone number, shortcode, or alphanumeric sender ID.", "more_info": "https://www.twilio.com/docs/errors/21212",
        "status": 400}'
  recorded_at: Mon, 27 Feb 2017 19:24:44 GMT
recorded_with: VCR 3.0.3
